# webappユーザにsudoで変更できるようにする
# @link https://qiita.com/ryuzee/items/53f8e62a1944ff097180
commands:
  01_sudo:
    command: "sed -i 's/^.*requiretty/#Defaults requiretty/' /etc/sudoers"
  02_sudo_webapp:
    command: "grep -q 'webapp ALL=(ALL) NOPASSWD: ALL' /etc/sudoers || echo -e 'webapp ALL=(ALL) NOPASSWD: ALL' >> /etc/sudoers"
