# Rails6の asset precompile 用
# @link https://austingwalters.com/rails-6-on-elastic-beanstalk/
container_commands:

  17_install_webpack:
    command: "npm install --save-dev webpack"
  #  18_config_for_update_nokogiri:
  #    command: "bundle config build.nokogiri --use-system-libraries"
  19_precompile:
    command: "bundle exec rake assets:precompile"

